#Esto sería el .env convertido a .env.example, para que no se suba el token real al repositorio por seguridad.

HS_TOKEN=<TU_TOKEN_PRIVATE_APP>
HS_CUSTOM_OBJECT=<OBJECT TYPE ID o API name> # ej. p_mascota
HS_PROPS=nombre,tipo_de_animal,edad